th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

body {
    width: 90vw;
    text-align: center;
    margin: auto;
    background: repeating-linear-gradient(
        135deg,
        #8ecf68,
        #8ecf68 60px,
        #cf6f68 60px,
        #cf6f68 120px
    );
    font-family: Arial, sans-serif;
}

footer {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 2px;
    background-color: darkgrey;
    opacity: 0.5;
}