th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

body {
    width: 85vw;
    text-align: center;
    margin: auto;
    padding: 0;
    background: repeating-linear-gradient(
        135deg,
        #b1e791,
        #b1e791 100px,
        #f5b0ac 100px,
        #f5b0ac 200px
    );
    font-family: Arial, sans-serif;
    color: #313131;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 2px;
    background-color: darkgrey;
    opacity: 0.5;
}